@font-face {
    font-family: 'MS-Gloriola';
    src: url('../fonts/MS-Gloriola-Regular.woff2') format('woff2'),
         url('../fonts/MS-Gloriola-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS-Gloriola';
    src: url('../fonts/MS-Gloriola-Bold.woff2') format('woff2'),
         url('../fonts/MS-Gloriola-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} 